[submodule "scripts"]
	path = scripts
	url = git@github.com:Onespacehouse/Laiss_AI_scripts.git
[submodule "documentation"]
	path = documentation
	url = git@github.com:Onespacehouse/Laiss_AI_Documentation.git
